.column {
    float: left;
    width: 25%;
}

.column2 {
	float: left;
	width: 50%;
	text-align: center;
}

.column3 {
	text-align: center;
}

.bottom {
	 width: 100%;

     position: fixed;

     bottom: 0px;

     /*text-align: center;*/

     /*z-index: 9999;*/
}

h2.first-round {
/*	color: blue;*/
}

h2.next-round {
	text-align: center;
}

h1 {
	text-align: center;
}

ul {
  list-style-type: none;
}