<div>
	<!-- <h1>Gaming Tournament</h1> -->
	<h1> {{ title }} </h1>
</div>
<div class="row">
	<div class="column">
		<h2 class="first-round">Eastern Division</h2>
		<ul>
			<li *ngFor="let easternTeam of easternTeams"
			(click)="onTeamClicked(easternTeam, 'left')">
			{{ easternTeam.name }} 
			</li>
		</ul>
		<input type="text" #east>
		<button (click)="addTeam(east, 'east')">Add Team</button>
	</div>
	<div class="column">
		<h2 class="first-round">Western Division</h2>
		<ul>
			<li *ngFor="let westernTeam of westernTeams" 
			(click)="onTeamClicked(westernTeam, 'left')">
			{{ westernTeam.name }}
			</li>
		</ul>
		<input type="text" #west>
		<button (click)="addTeam(west, 'west')">Add Team</button>
	</div>
	<div class="column">
		<h2 class="first-round">Northern Division</h2>
		<ul>
			<li *ngFor="let northernTeam of northernTeams"
			(click)="onTeamClicked(northernTeam, 'right')">
			{{ northernTeam.name }}</li>
		</ul>
		<input type="text" #north>
		<button (click)="addTeam(north, 'north')">Add Team</button>
	</div>
	<div class="column">
		<h2 class="first-round">Southern Division</h2>
		<ul>
			<li *ngFor="let southernTeam of southernTeams"
			(click)="onTeamClicked(southernTeam, 'right')">
			{{ southernTeam.name }}</li>
		</ul>
		<input type="text" #south>
		<button (click)="addTeam(south, 'south')">Add Team</button>
	</div>
</div>

<br><br><br><br><br><br><br><br><br>


<div class="row">
	<h2 class="next-round">SemiFinals</h2>
	<div class="column2">
		<ul>
			<li *ngFor="let leftSemiFinal of leftSemiFinals"
				(click)="onSemiFinalsTeamClicked(leftSemiFinal, 'left')">
				{{ leftSemiFinal.name }}
			</li>
		</ul>
	</div>
	<div class="column2">
		<ul>
			<li *ngFor="let rightSemiFinal of rightSemiFinals"
				(click)="onSemiFinalsTeamClicked(rightSemiFinal, 'right')">
				{{ rightSemiFinal.name }}
			</li>
		</ul>
	</div>
</div>


<br><br><br><br><br>

<div>
	<h2 class="next-round">Finals</h2>
	<div class="column2">
		<ul>
			<li *ngFor="let leftFinal of leftFinals"
				(click)="onWinningTeamClicked(leftFinal)">
				{{ leftFinal.name }}
			</li>
		</ul>
	</div>
	<div class="column2">
		<ul>
			<li *ngFor="let rightFinal of rightFinals"
				(click)="onWinningTeamClicked(rightFinal)">
				{{ rightFinal.name }}
			</li>
		</ul>
	</div>
</div>

<br><br><br><br><br><br>

<div>
	<h2 class="next-round">Champion</h2>
	<div class="column3">
		<ul>
			<li *ngFor="let champ of champion">
				{{ champ.name }}
			</li>
		</ul>
	</div>
</div>
