<div>
	<!-- <h1>Gaming Tournament</h1> -->
	<h1> {{ title }} </h1>
</div>
<div class="row">
	<div class="column">
		<h2 class="first-round">Eastern Division</h2>
		<ul>
			<li *ngFor="let team of teams"
			(click)="onLeftTeamClicked(team)">
			{{ team.name }} 
			</li>
		</ul>
		<input type="text" #team>
		<button (click)="addTeam(team)">Add Team</button>
	</div>
	<div class="column">
		<h2 class="first-round">Western Division</h2>
		<ul>
			<li *ngFor="let westernTeam of westernTeams" 
			(click)="onLeftTeamClicked(westernTeam)">
			{{ westernTeam.name }}
			</li>
		</ul>
		<input type="text" #westernTeam>
		<button (click)="addTeamWest(westernTeam)">Add Team</button>
	</div>
	<div class="column">
		<h2 class="first-round">Northern Division</h2>
		<ul>
			<li *ngFor="let northernTeam of northernTeams"
			(click)="onRightTeamClicked(northernTeam)">
			{{ northernTeam.name }}</li>
		</ul>
		<input type="text" #northernTeam>
		<button (click)="addTeamNorth(northernTeam)">Add Team</button>
	</div>
	<div class="column">
		<h2 class="first-round">Southern Division</h2>
		<ul>
			<li *ngFor="let southernTeam of southernTeams"
			(click)="onRightTeamClicked(southernTeam)">
			{{ southernTeam.name }}</li>
		</ul>
		<input type="text" #southernTeam>
		<button (click)="addTeamSouth(southernTeam)">Add Team</button>
	</div>
</div>

<br><br><br><br><br><br><br><br><br>


<div class="row">
	<h2 class="next-round">SemiFinals</h2>
	<div class="column2">
		<ul>
			<li *ngFor="let leftSemiFinal of leftSemiFinals"
				(click)="onLeftSemiFinalTeamClicked(leftSemiFinal)">
				{{ leftSemiFinal.name }}
			</li>
		</ul>
	</div>
	<div class="column2">
		<ul>
			<li *ngFor="let rightSemiFinal of rightSemiFinals"
				(click)="onRightSemiFinalTeamClicked(rightSemiFinal)">
				{{ rightSemiFinal.name }}
			</li>
		</ul>
	</div>
</div>


<br><br><br><br><br>

<div>
	<h2 class="next-round">Finals</h2>
	<div class="column2">
		<ul>
			<li *ngFor="let leftFinal of leftFinals"
				(click)="onWinningTeamClicked(leftFinal)">
				{{ leftFinal.name }}
			</li>
		</ul>
	</div>
	<div class="column2">
		<ul>
			<li *ngFor="let rightFinal of rightFinals"
				(click)="onWinningTeamClicked(rightFinal)">
				{{ rightFinal.name }}
			</li>
		</ul>
	</div>
</div>

<br><br><br><br><br><br>

<div>
	<h2 class="next-round">Champion</h2>
	<div class="column3">
		<ul>
			<li *ngFor="let champ of champion">
				{{ champ.name }}
			</li>
		</ul>
	</div>
</div>
